body {
    padding: 15px;
}
header {
    flex-direction: row;  
}
header a {
    padding: 10px;
}
form {
    padding: 18px;
}
form button {
    width: 100%;
}
.project-card {
    flex: 1 1 calc(48% - 10px);
}
