body {
    padding: 10px;
}
header {
    flex-direction: column;  
}
header a {
    padding: 10px;
}
form {
    padding: 15px;
}
form button {
    width: 100%;
}
.project-card {
    flex: 1 1 100%;
}
